<footer>
  <div class="social-links">
    <div class="social-link">
      <a href="https://www.instagram.com/hollanda.kedisi/" target="blank">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </div>
    <div class="social-link">
      <a href="https://www.linkedin.com/in/deryadeniz/" target="blank"
        ><fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </div>
    <div class="social-link">
      <a href="https://github.com/deryadenizz" target="blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </div>
  </div>
</footer>
