footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #484f58;
  padding: 15px;
  border-radius: 50%;
  font-size: 35px;
  width: 60px; /* Link elementinin genişliği */
  height: 60px; /* Link elementinin yüksekliği */
}
footer {
  margin-bottom: 40px;
}
.social-links {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
