<div class="container">
  <h2 class="text-center">Hi I am</h2>
  <div class="frame">
    <h1 class="text-center">Derya Deniz</h1>
    <h3 class="text-center">Front-end developer</h3>
    <p>
      Allow me to introduce myself first. I graduated from Boğaziçi University
      in 2019 with a degree in teaching mathematics. Although my path eventually
      led me to coding, my educational background has instilled in me a logical
      and analytical mindset that I bring to my development projects.
    </p>
  </div>
  <div class="about-me-links">
    <div class="navigation-links mb-5">
      <a href="#" class="primary-link">Contact me</a>
      <a href="#" class="secondary-link">About me</a>
    </div>
  </div>
</div>
