<div class="projects">
  <div class="container text-center" id="projects">
    <div class="row">
      <h2>My Projects</h2>
      <div class="col project-box project">
        <div class="content">
          <div class="project-icon">
            <i class="circle-icon"
              ><fa-icon [icon]="faCloudSunRain"></fa-icon
            ></i>
          </div>
          <div class="project-entry">
            <h3>Weather App</h3>
            <p>
              Introducing my Weather Forecast App project, a fantastic
              application that provides up-to-date weather information at your
              fingertips! ☁️⛅🌡️
            </p>
            <a class="btn read-more" href="#0">Read More</a>
          </div>
        </div>
      </div>
      <div class="col project-box project">
        <div class="content">
          <div class="project-icon">
            <i class="circle-icon"><fa-icon [icon]="faClock"></fa-icon></i>
          </div>
          <div class="project-entry">
            <h3>World Clock</h3>
            <p>
              🌐 Explore my World Clock App project and discover a seamless way
              to keep track of time around the globe.
            </p>
            <a class="btn read-more" href="#0">Read More</a>
          </div>
        </div>
      </div>
      <div class="col project-box project">
        <div class="content">
          <div class="project-icon">
            <i class="circle-icon"><fa-icon [icon]="faPalette"></fa-icon></i>
          </div>
          <div class="project-entry">
            <h3>Art Portfolio</h3>
            <p>
              Welcome to my Art Portfolio website! 🖼️ Immerse yourself in the
              world of creativity as you explore my collection of artworks
              showcased in this unique online gallery. 🌟
            </p>
            <a class="btn read-more" href="#0">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="project-1">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="assets/weather-app.png" class="card-img-top" alt="..." />
      </div>
      <div class="col">
        <div class="card-body">
          <h2 class="card-title">🌟 Weather App ☀️🌦️🌧️</h2>
          <p class="card-text">
            Introducing my Weather Forecast App project, a fantastic application
            developed as part of the SheCodes Plus workshop! 🎉 This project
            showcases my proficiency in front-end development and integrating
            API data to provide up-to-date weather information at your
            fingertips. ☁️⛅🌡️
          </p>
          <p class="card-text">
            This app allows you to check the current weather and the 5-day
            forecast for any city. You can search for a city by name, or use the
            "current location" button to get the weather for your current
            location. You can also switch between Celsius and Fahrenheit to see
            the temperature in your preferred unit. 🌍🌤️💨
          </p>
          <p class="card-text">
            The app is built using HTML, CSS, and JavaScript, and utilizes the
            OpenWeatherMap API to get weather data. The app is also responsive
            and looks great on all devices, from desktop to mobile. 📱💻🌐
          </p>

          <p class="card-text">
            I thoroughly enjoyed developing this project and expanding my
            knowledge in front-end development through the SheCodes Plus
            workshop. I am continuously refining my skills and exploring new
            possibilities to create innovative projects that enhance the user
            experience. 🚀📚✨
          </p>
          <p class="card-text">
            Feel free to check out my Weather App project. Your feedback and
            suggestions are always welcome as I strive to improve and grow as a
            front-end developer! 💌🌟🙌
          </p>
          <div class="navigation-links mb-5">
            <a
              href="https://www.shecodes.io/workshops/shecodes-plus-add-on-b3c0f62f-5faf-420c-99fe-58dc2314cfce/projects/1620361"
              class="primary-link"
              target="_blank"
              >Launch Weather App</a
            >
            <a
              href="https://github.com/deryadenizz/Cute-Weather-App"
              class="secondary-link"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="project-2">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-body">
          <h2 class="card-title">World Clock App ⏰🌍</h2>
          <p class="card-text">
            🌍 Welcome to the World Clock app! This is a cool little project
            that I created to help you keep track of time in different cities
            around the world. ⏰
          </p>
          <p class="card-text">
            I put together a beautiful user interface with a world map
            background to make it visually appealing. 🗺️ The app shows you the
            current time and date for various cities, including Tokyo 🇯🇵, Paris
            🇫🇷, and Rome 🇮🇹.
          </p>
          <p class="card-text">
            I used HTML, CSS, and JavaScript to build the app. The JavaScript
            code makes use of the Moment.js library, which helps me retrieve and
            format the current time and date for different time zones. 🕒
          </p>
          <p class="card-text">
            You can select a city from the dropdown menu, and the app will
            dynamically update the displayed time and date for that city. 🌆
            Plus, I added a special feature that shows the time and date for
            your current location automatically. 🌟
          </p>
          <p class="card-text">
            If you're curious about how it works, you can check out the code on
            my GitHub page. 📁 Feel free to explore it and even contribute if
            you'd like! The app is open source and ready for collaboration.
          </p>
          <p class="card-text">
            I hope you find this World Clock app useful and enjoy keeping track
            of time around the globe! ⏱️✨
          </p>
          <div class="navigation-links mb-5">
            <a
              href="https://www.shecodes.io/workshops/shecodes-plus-add-on-b3c0f62f-5faf-420c-99fe-58dc2314cfce/projects/1620361"
              class="primary-link"
              target="_blank"
              >Launch World Clock</a
            >
            <a
              href="https://github.com/deryadenizz/World-Clock-App"
              class="secondary-link"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <img src="assets/world-clock-app.png" class="card-img-top" alt="..." />
      </div>
    </div>
  </div>
</div>
<div class="project-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="assets/artportfolio.jpg" class="card-img-top" alt="..." />
      </div>
      <div class="col">
        <div class="card-body">
          <h2 class="card-title">Art Portfolio 🎨🖌️</h2>
          <p class="card-text">
            Explore my Art Portfolio, a vibrant collection born from my solo
            exhibition in Japan. Each piece tells a unique story, capturing the
            essence of my artistic journey and personal growth.
          </p>
          <p class="card-text">
            As a self-taught artist, I discovered the world of painting in 2016.
            Guided by my husband, an artist himself 🎭, I found the courage to
            showcase my work in exhibitions and embrace the beauty of
            creativity.
          </p>
          <p class="card-text">
            Nature's beauty, emotions, and human experiences inspire these
            paintings. Each stroke reflects a moment of joy, introspection, or
            the exploration of my artistic voice.
          </p>

          <p class="card-text">
            The solo exhibition in Japan marked a pivotal moment, allowing me to
            connect with art enthusiasts and share my creations. This collection
            encapsulates the diverse emotions and stories depicted on canvas.
          </p>
          <p class="card-text">
            I extend heartfelt thanks to my supportive partner, whose belief in
            my abilities propels me to exceed my limits and explore new
            horizons. Thanks for visiting! 🌟🎨💖
          </p>
          <div class="navigation-links mb-5">
            <a
              href="https://deryadenizart.netlify.app/"
              class="primary-link"
              target="_blank"
              >Visit Art Portfolio</a
            >
            <a
              href="https://github.com/deryadenizz/My-art-portfolio"
              class="secondary-link"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="timeline-container">
  <div class="timeline">
    <div class="content left">
      <div class="timeline-content">
        <h2>April 27, 2023</h2>
        <p>
          🏆 Achieved another milestone with the SheCodes Plus certificate,
          further expanding my coding prowess!
        </p>
      </div>
    </div>
    <div class="content right">
      <div class="timeline-content">
        <h2>March 17, 2023</h2>
        <p>
          🏆 Received the prestigious SheCodes Basic certificate, unlocking new
          doors in my coding journey!
        </p>
      </div>
    </div>
    <div class="content left">
      <div class="timeline-content">
        <h2>March 13, 2023</h2>
        <p>
          👩‍💻 I began my coding journey with SheCodes, an empowering platform
          that has opened up a world of possibilities for me.
        </p>
      </div>
    </div>
    <div class="content right">
      <div class="timeline-content">
        <h2>February 28, 2023</h2>
        <p>
          🌍 Embarked on an exciting journey by relocating to the beautiful
          Netherlands with my beloved husband.
        </p>
      </div>
    </div>
    <div class="content left">
      <div class="timeline-content">
        <h2>May 20, 2022</h2>
        <p>
          👩‍🏫 Concluded my teaching adventure with a sense of fulfillment, having
          made a positive impact on the lives of students.
        </p>
      </div>
    </div>
    <div class="content right">
      <div class="timeline-content">
        <h2>March 3, 2020</h2>
        <p>
          🎨 I delighted in sharing my creativity through a personal art
          exhibition in the enchanting land of Japan.
        </p>
      </div>
    </div>
    <div class="content left">
      <div class="timeline-content">
        <h2>September 6, 2019</h2>
        <p>
          👩‍🏫 Embarked on an exciting teaching journey in 2019, sharing the
          wonders of mathematics with enthusiastic students.
        </p>
      </div>
    </div>
    <div class="content right">
      <div class="timeline-content">
        <h2>August 29, 2019</h2>
        <p>
          🎓 Graduated from Boğaziçi University in 2019 with a degree in
          teaching mathematics.
        </p>
      </div>
    </div>
    <div class="content left">
      <div class="timeline-content">
        <h2>May 15, 2018</h2>
        <p>
          🎨 Nurturing my passion for art, I had the incredible opportunity to
          exhibit my creations in a group art exhibition in Turkey in 2018.
        </p>
      </div>
    </div>
    <div class="content right">
      <div class="timeline-content">
        <h2>February 10, 2014</h2>
        <p>
          👩‍💻 Discovered the enchanting world of coding during a computer class
          in 2014. That's when the HTML/CSS magic first sparked within me!
        </p>
      </div>
    </div>
  </div>
</div>
