<div class="container projects text-center" id="projects">
  <div class="row">
    <h2>My Projects</h2>
    <div class="col project-box project-1">
      <div class="content">
        <div class="project-icon">
          <i class="circle-icon fa-solid faCloudSunRain"></i>
        </div>
        <div class="project-entry">
          <h3>Weather App</h3>
          <p>
            Introducing my Weather Forecast App project, a fantastic application
            that provides up-to-date weather information at your fingertips!
            ☁️⛅🌡️
          </p>
          <a class="btn read-more" href="#0">Read More</a>
        </div>
      </div>
    </div>
    <div class="col project-box project-2">
      <div class="content">
        <div class="project-icon">
          <i class="circle-icon fa-solid faClock"></i>
        </div>
        <div class="project-entry">
          <h3>World Clock</h3>
          <p>
            🌐 Explore my World Clock App project and discover a seamless way to
            keep track of time around the globe.
          </p>
          <a class="btn read-more" href="#0">Read More</a>
        </div>
      </div>
    </div>
    <div class="col project-box project-3">
      <div class="content">
        <div class="project-icon">
          <i class="circle-icon fa-solid faPalette"></i>
        </div>
        <div class="project-entry">
          <h3>Art Portfolio</h3>
          <p>
            Welcome to my Art Portfolio website! 🖼️ Immerse yourself in the
            world of creativity as you explore my collection of artworks
            showcased in this unique online gallery. 🌟
          </p>
          <a class="btn read-more" href="#0">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
