<div class="projects">
  <div class="container text-center" id="projects">
    <div class="row">
      <h2>My Projects</h2>
      <div class="col project-box project-1">
        <div class="content">
          <div class="project-icon">
            <i class="circle-icon"
              ><fa-icon [icon]="faCloudSunRain"></fa-icon
            ></i>
          </div>
          <div class="project-entry">
            <h3>Weather App</h3>
            <p>
              Introducing my Weather Forecast App project, a fantastic
              application that provides up-to-date weather information at your
              fingertips! ☁️⛅🌡️
            </p>
            <a class="btn read-more" href="#0">Read More</a>
          </div>
        </div>
      </div>
      <div class="col project-box project-2">
        <div class="content">
          <div class="project-icon">
            <i class="circle-icon"><fa-icon [icon]="faClock"></fa-icon></i>
          </div>
          <div class="project-entry">
            <h3>World Clock</h3>
            <p>
              🌐 Explore my World Clock App project and discover a seamless way
              to keep track of time around the globe.
            </p>
            <a class="btn read-more" href="#0">Read More</a>
          </div>
        </div>
      </div>
      <div class="col project-box project-3">
        <div class="content">
          <div class="project-icon">
            <i class="circle-icon"><fa-icon [icon]="faPalette"></fa-icon></i>
          </div>
          <div class="project-entry">
            <h3>Art Portfolio</h3>
            <p>
              Welcome to my Art Portfolio website! 🖼️ Immerse yourself in the
              world of creativity as you explore my collection of artworks
              showcased in this unique online gallery. 🌟
            </p>
            <a class="btn read-more" href="#0">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="project-1">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="assets/weather-app.png" class="card-img-top" alt="..." />
      </div>
      <div class="col">
        <div class="card-body">
          <h2 class="card-title">🌟 Weather App ☀️🌦️🌧️</h2>
          <p class="card-text">
            Introducing my Weather Forecast App project, a fantastic application
            developed as part of the SheCodes Plus workshop! 🎉 This project
            showcases my proficiency in front-end development and integrating
            API data to provide up-to-date weather information at your
            fingertips. ☁️⛅🌡️
          </p>
          <p class="card-text">
            This app allows you to check the current weather and the 5-day
            forecast for any city. You can search for a city by name, or use the
            "current location" button to get the weather for your current
            location. You can also switch between Celsius and Fahrenheit to see
            the temperature in your preferred unit. 🌍🌤️💨
          </p>
          <p class="card-text">
            The app is built using HTML, CSS, and JavaScript, and utilizes the
            OpenWeatherMap API to get weather data. The app is also responsive
            and looks great on all devices, from desktop to mobile. 📱💻🌐
          </p>

          <p class="card-text">
            I thoroughly enjoyed developing this project and expanding my
            knowledge in front-end development through the SheCodes Plus
            workshop. I am continuously refining my skills and exploring new
            possibilities to create innovative projects that enhance the user
            experience. 🚀📚✨
          </p>
          <p class="card-text">
            Feel free to check out my Weather App project. Your feedback and
            suggestions are always welcome as I strive to improve and grow as a
            front-end developer! 💌🌟🙌
          </p>
          <div class="navigation-links mb-5">
            <a
              href="https://www.shecodes.io/workshops/shecodes-plus-add-on-b3c0f62f-5faf-420c-99fe-58dc2314cfce/projects/1620361"
              class="primary-link"
              target="_blank"
              >Launch Weather App</a
            >
            <a
              href="https://github.com/deryadenizz/Cute-Weather-App"
              class="secondary-link"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
